.app {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form {
  display: flex;
  justify-content: space-between;
}

input {
  width: 70%;
  padding: 5px;
}

button {
  padding: 5px;
  background: greenyellow;
}

.todo-list {
  margin-top: 20px;
}

.todo {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.todo.completed span {
  text-decoration: line-through;
}

.todo button {
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}
